--extra-index-url https://download.pytorch.org/whl/cpu
streamlit>=1.40,<2
torch==2.8.0+cpu; sys_platform == "linux"
torch==2.8.0; sys_platform != "linux"
transformers>=5.16,<6
gdown>=5.2,<6
cyrtranslit>=1.1,<2